#ed-version {
  /* the numeric value is used as the version number of this CSS */
  letter-spacing: 0.36px;
}

body {
  font-family: Verdana, Helvetica, "Microsoft YaHei", "微软雅黑", "Droid Sans", "YouYuan", sans-serif;
  font-size: 16px;
  max-width: 1000px;
  margin: auto;
  letter-spacing: 0.1em;
}

h1, h2, h3 {
  color: #99c0cc;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 0.7em;
}

#html-editor {
  margin: 0px 10px;
}

#vis-editor {
  background-color: #fff;
  border-width: 1px;
  border-color: #77aaff;
  border-style: inset;
  border-radius: 2px;
  padding: 10px 15px;
  width: 100%;
  height: 450px;
  overflow: scroll;
}

/* show placeholder for contenteditable div */
[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
}

#src-editor {
  display: inline-block;
  background-color: #ffffe7;
  font-family: "Lucida Console", monospace;
  letter-spacing: 0.05em;
  font-size: 100%;
  padding: 5px 7px;
  width: 100%;
  min-height: 450px;
}

.color-demo {
  padding: 0.1em 0.3em 0.3em 0.4em;
}

.btn-group, .bsw-group {
  margin: 0.1em 0px 0.3em 0px;
}

.toolbar {
  margin: 2px 0px 5px 10px;
}

.center {
  text-align: center;
}

.note {
  font-size: 70%;
  padding: 20px 10px;
  color: #888888;
}

.options-wrapper .inp-group {
  margin: 0.7em 0;
}

.options-wrapper label {
  color: #379;
  font-weight: normal;
}

.options-wrapper textarea {
  font-family: monospace;
  width: 100%;
  padding: 0.3em 0.5em;
}

.options-wrapper .options-body {
  max-height: 420px;
  overflow-y: auto;
}

.options-wrapper .options-footer .alert {
  text-align: left;
  font-size: 90%;
}

.previewer {
  background-color: #f7f7f7;
  border: 1px dotted #ddd;
  padding: 0.5em 1em;
  margin: 1em 0.5em;
}

.qrgen-options,
.link-options {
  padding: 0.5em 1em;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.inp-group select {
  font-size: 105%;
  line-height: 2;
  background-color: #fff;
  color: #333;
  letter-spacing: 0.15em;
  padding: 0.2em 1em 0.5em 0.5em;
  border-radius: 0.5em;
}

.modal .help-block {
  font-size: 75%;
}

.modal .alert {
  font-size: 80%;
}

.bsw {
  transition: 0.3s ease;
}

.inp-group label {
  padding: 0.5em 0em;
}
