#ver-version {
  /* the numeric value is used as the version number of this CSS */
  letter-spacing: 0.35px;
}

/* the div for version */
.version-btn,
.version {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px 0px 3px 0px;
  transition: 1.5s ease;
}

.version-btn {
  margin-top: 20px;
  border-bottom: 1px dotted #8d8;
}

.version:last-child {
  margin-bottom: 30px;
}

/* inner span for version */
.version-btn span,
.version span {
  font-size: 10px;
  color: #ffffff;
  background-color: #8d8;
  letter-spacing: 0.02em;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

/* anchors in the version */
.version a {
  color: #ffffff;
  font-weight: bold;
}

.version a:hover {
  color: #3388cc;
  text-decoration: none;
}


