/* adding .sm2-sm2-progress-bd for specificity */
.sm2-progress .sm2-progress-bd .sm2-progress-track {
  background-color: rgba(0,0,0,0.4) !important;
}

/* adding .sm2-playlist-bd for specificity */
.sm2-playlist-wrapper ul.sm2-playlist-bd li {
  padding-right: 3em !important; /* for the right buttons, fmplay2.png or fmpause2.png */
  background-size: contain !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li a {
  padding-left: 0.5em;
  overflow: auto !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li:hover a {
  background: none !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li:hover {
  /* background: url(../Sound/image/playwrap.png) no-repeat, */
  background: url(https://i2.vzan.cc/upload/image/png/20200710/98438cea44454a93bde35d96dd39a823.png) no-repeat,
  -webkit-linear-gradient(270deg, #FFF000 0%, #FFCD02 40%, #FEA404 100%);
  background-position: right 0px center;
  background-size: contain !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li.selected a {
  background: none !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li.selected {
  /* background: url(../image/fmpause2.png) no-repeat, */
  background: url(https://i2.vzan.cc/upload/image/png/20200710/bbb6105f740944edba48e9108149199a.png) no-repeat,
  -webkit-linear-gradient(270deg, #FFF000 0%, #FFCD02 40%, #FEA404 100%);
  background-position: right 0px center;
  background-size: contain !important;
}

/* adding li should win by specificity */
.sm2-playlist-bd li span.lianhua {
  margin: 0 0 0 0.5em !important;
  width: 2.55em !important;
  height: 2.55em !important;
  background-size: contain !important;
  background-position: center !important;
}

/* adding .sm2-playlist-bd and important to enforce color */
.sm2-bar-ui .bd .sm2-playlist-bd a {
  color: #930a00 !important;
}

/* enforced the selected item to be bold */
.sm2-playlist-wrapper ul li.selected a {
 font-weight: bold !important;
}
