/* @Ln489, adding .sm2-sm2-progress-bd for specificity */
.sm2-progress .sm2-progress-bd .sm2-progress-track {
  background-color: rgba(0,0,0,0.4) !important;
}

/* @Ln861, adding .sm2-playlist-bd for specificity */
.sm2-playlist-wrapper ul.sm2-playlist-bd li {
  position: relative;
  background-size: 2.5em !important;
  background-position: right center; /* vertically align at the bottom for multi-line title */
}

/* @Ln877, 2020.10.28 use multiple-line instead of auto scroll */
.sm2-playlist-wrapper ul.sm2-playlist-bd li a {
  margin: 0 2.5em !important;
  overflow: visible !important;
  white-space: normal !important;
  text-overflow: clip !important; /* 2020.8.26 override "ellipsis" in old version? */
}

.sm2-playlist-wrapper ul.sm2-playlist-bd.sm2-playlist-bd-scroll li a {
  overflow: auto !important;
  white-space: nowrap !important;
  text-overflow: clip !important; /* 2020.8.26 override "ellipsis" in old version? */
}

/* @Ln899 */
.sm2-playlist-wrapper ul.sm2-playlist-bd li:hover a {
  /* move the background-image to li */
  background: none !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li:hover {
  background: url(../image/playwrap.png) no-repeat,
  -webkit-linear-gradient(270deg, #FFF000 0%, #FFCD02 40%, #FEA404 100%);
  background-position: right center;
  background-size: 2.5em, contain !important;
}

/* @Ln922 */
.sm2-playlist-wrapper ul.sm2-playlist-bd li.selected a {
  /* move the background-image to li */
  background: none !important;
  font-weight: bold !important;
}

.sm2-playlist-wrapper ul.sm2-playlist-bd li.selected {
  background: url(../image/fmpause2.png) no-repeat,
              -webkit-linear-gradient(270deg, #FFF000 0%, #FFCD02 40%, #FEA404 100%);
  background-position: right center;
  background-size: 2.5em, contain !important;
}

/* @Ln1039 */
.sm2-playlist-bd span.lianhua {
  position: absolute;
  left: 0.5em;
  margin: 0 !important;
  width: 2em !important;
  height: 100% !important;
  background-size: contain !important;
  background-position: center !important;
  float: none !important;
}

/* @Ln194, adding .sm2-playlist-bd and important to enforce color */
.sm2-bar-ui .bd .sm2-playlist-bd a {
  color: #930a00 !important;
}

.item-downloader {
  margin: 0em 0.4em 0em 0.2em;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transition: ease 0.1s;
  transform: translateY(-50%);
  padding: 0.3em 0.4em;
  background-color: #a32;
  border-radius: 4px;
  box-shadow: .5px .5px 1px #ca6;
  cursor: pointer;
  line-height: 1;
}

.item-downloader:hover {
  background-color: #d30;
  box-shadow: .5px .5px 2px #a84;
}

.item-downloader:active,
.item-downloader:focus {
  background-color: #910;
  transform: translateY(-48%);
}

.sm2-bar-ui.item-download .sm2-playlist-wrapper ul.sm2-playlist-bd li {
  background-position: right 3.2em center;
}

.sm2-bar-ui.item-download .sm2-playlist-wrapper ul.sm2-playlist-bd li a {
  margin-right: 4.8em !important;
}

/* 2021.12.25 */
.sm2-bar-ui .sm2-playlist-bd li {
  border: none;
  font-size: 95%;
  line-height: 1.5;
}
